.board-container {
  float: left;
}

.button-container {
  background-color: grey;
  text-align: center;
  width: 428px;
  height: 18px;
  margin-bottom: 5px;
}

.checkers {
  font-size: 34px;
  color: white;
  list-style-type: none;
  font-weight: bold;
  margin-left: 35px;
}

.col {
  display: inline-block;
  background-color: black;
  width: 50px;
  height: 50px;
}

.console {
  background-color: black;
  text-align: center;
  width: 428px;
  height: 36px;
  color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

.empty {
  background-color: red;
}

.piece {
  margin: 5px;
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
}

.red {
  background-color: red;
}

.row {
  height: 50px;
  display: inline-block;
}

.stats-container {
  background-color: red;
  width: 164px;
  height: 492px;
  margin-left: 433px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
.table-right {
  text-align: right;
  background-color: white;
  width: 40px;
}

.white {
  background-color: white;
}
